 /* start framework */
 
 h1 {
     color: #203591!important;
 }
 /* start framework */
 /* start nav color */
 
 .navbar-dark .navbar-brand span,
 .navbar-dark .navbar-nav .nav-link:hover,
 .navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link.show,
 .navbar-dark .navbar-nav .show>.nav-link,
 .about strong {
     color: #FF7182!important
 }
 
 .dropdown-item:focus,
 .dropdown-item:hover,
 header .bxslider button,
 .options .colors ul li,
 .options i {
     background: #FF7182;
 }
 
 .navbar-dark .navbar-toggler {
     border-color: rgba(247, 147, 32, 1);
 }
 /* end nav color */
 /* start carousel */
 /* end carousel */
 /* strat about  */
 /* end about  */
 /* start features */
 /* end features */
 /* start testimonials */
 
 .testimonials .pro h3 {
     color: #FF7182
 }
 
 .testimonials .pro blockquote span {
     color: #FF7182;
 }
 /* end testimonials */
 /* st price table */
 
 .card a {
     color: #FF7182;
 }
 /* start footer */
 
 footer h3 {
     color: #FF7182;
 }